# Discord Bot Token
TOKEN=

# Guild ID
# Bot can only be used within this guild
GUILD_ID=

# Role Weights
# Semicolon delimited list, entries must be in the format <role_id>,<weight>;
ROLE_WEIGHTS=

# Voting Weight
# Minimum weight for a role to be allowed to initiate a vote
VOTING_WEIGHT=

# Target Score
# If all vote weights combined are >= this score, the vote will pass
TARGET_SCORE=
