name: Build and Test
on: [push, pull_request]

jobs:
  test:
    name: Test
    if: contains(github.ref, 'refs/tags/') == false
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
          cache: yarn
      - name: Install packages
        run: yarn install --immutable
      - name: Run Tests
        run: yarn run test

  build:
    name: Docker Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Prepare
        id: prepare
        run: |
          IMAGE_NAME=spamton

          GIT_REPO='https://github.com/${{ github.repository }}'
          DOCKER_USER=`echo ${{ github.repository_owner }} | tr '[:upper:]' '[:lower:]'`
          DOCKER_IMAGE=ghcr.io/$DOCKER_USER/$IMAGE_NAME

          VERSION=`git rev-parse --short HEAD`
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/v}
          fi

          echo "git_repo=${GIT_REPO}" >> $GITHUB_OUTPUT
          echo "docker_user=${DOCKER_USER}" >> $GITHUB_OUTPUT
          echo "docker_image=${DOCKER_IMAGE}" >> $GITHUB_OUTPUT
          echo "version=${VERSION}" >> $GITHUB_OUTPUT
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ steps.prepare.outputs.docker_user }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and Push
        uses: docker/build-push-action@v3
        with:
          context: .
          push: ${{ (github.ref == 'refs/heads/master') || (contains(github.ref, 'refs/tags/') == true) }}
          tags: |
            ${{ steps.prepare.outputs.docker_image }}:latest
            ${{ steps.prepare.outputs.docker_image }}:${{ steps.prepare.outputs.version }}
          build-args: |
            GIT_VERSION=${{ steps.prepare.outputs.version }}
            GIT_REPO=${{ steps.prepare.outputs.git_repo }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          # platforms: linux/amd64,linux/arm64
